.citiesContainer {
  margin: 1.5rem 6rem;
}

@media screen and (max-width: 767px) {
  .citiesContainer {
    margin: 1.5rem 3rem;
  }
}

@media screen and (max-width: 575px) {
  .citiesContainer {
    margin: 1rem 1rem;
  }
}