h1 {
  font-family: backsoda;
}

.sideMenu {
  display: flex;
  position: sticky;
  top: 0rem;
  z-index: 10;
  margin-bottom: -10rem;
  width: fit-content;
  background: #001529b6;
  padding: 10px;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.heroImg{
  height: 10rem;
}

.navIcon{
  height: 4rem;
}