.appName {
  font-family: backsoda;
}

.heroImg{
  height: 10rem;
}

.navIcon{
  height: 4rem;
}

.ciao-frames {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  width: 80%;
  max-width: 800px;
  height: 400px;
}