.cardLayout{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
    color: var(--colorBorder) ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    max-width: 500px;
    padding: 15px;
  
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 0px 14px 8px #3c245bde;
  
    backdrop-filter: blur(15px);
}

.imgContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

img {
    height: 10rem;

}

h2 {
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
    font-weight: 500;
}