
.card {
    color: aliceblue ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    max-width: 500px;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--color-bgTransp);
    box-shadow: 0px 0px 10px 2px #8542dccc;
  
    backdrop-filter: blur(15px);
}

.imgContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.heroImg {
    height: 10rem;
}

.appName {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-primary);
}

.description{
    font-size: 0.8rem;
}

p{
    font-size: 1rem;
    font-weight: 500;
}