.carouselTitle {
    color: antiquewhite;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
}

.carouselContent {
    color: var(--color-primary);
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    border-radius: 20px;
    padding: 1rem;
    height: 27rem;
}

.anticon {
    font-size: 2rem;
}

.bulletContainer {
    display: flex;
    margin-top: -1.5rem;
    justify-content: center;
}

.carouselImg{
    height: 10rem;
}

.groupImg{
    max-width: 600px;
}

.gridContainer{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-color: var(--color-dark);
    padding: 1rem;
    border-radius: 2rem;
    transition: 1s;
}

@media screen and (max-width: 700px) {
    .gridContainer {
        display: flex;
        gap: 2px;
        background-color: var(--color-dark);
        padding: 0;
        border-radius: 2rem;
        flex-direction: column;
    }

    .carouselContent{   
        height: fit-content;
    }

    .bulletContainer {
        margin-top: -0.5rem;
    }
  }