* {
    font-family: "Segoe UI"
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: backsoda;
  }

.ant-layout {
    background: rgba(0, 0, 0, 0.1);
  }

#main_container {
    background-image:url('japan.jpg');
    background-position: center;
    background-size: cover;

}

.containerFlex{
    display: flex;
    align-items: center;   
    justify-content: center; 
}

.nav_menu {
    display: flex;
    align-items: center;
}

.ant-menu {
    background: rgba(0, 0, 0, 0);
}

.loginBtn{
    display: flex;
    font-weight: 600;
}

.navIcon{
    height: 2rem;
}