* {
    font-family: "Segoe UI"
}

h1 {
    font-family: backsoda;
}

.header{
    height: auto;
}

.containerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgTransp{
    font-weight: 600;
    color: var(--color-primary);
    background-color: var(--color-bgTransp);
}

.ant-layout {
    background: rgba(0, 0, 0, 0.1);
}

#main_container {
    background-image: url('japan.jpg');
    background-position: center;
    background-size: cover;

}

.sideMenu {
    position: absolute;
    right: 0rem;
    z-index: 10;
    width: fit-content;
    background: var(--color-bgTransp);
    padding: 10px;
    border-radius: 25px;
    backdrop-filter: blur(15px);

}

.navMenu{
    width: 13rem;
}

.ant-menu {
    background: rgba(0, 0, 0, 0);
}

.ant-btn {
    height: auto;
}
 
.loginBtn {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.navIcon {
    height: 2rem;
}

.ant-result{
    color: azure;
font-size: large;
}