:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --colorDark: #1e162c;
  --colorDarkHover: #2d1c45;
  --colorBorder: #3c245b;
  --colorBorderHover: #502c7e;
  --colorPrimary: #8542dc;
  --colorPrimaryHover: #a46ae8;
}
