@font-face {
  font-family: backsoda ;
  src: url('../public/Baksoda_Demo.ttf');
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-dark: #1e162c;
  --color-darkHover: #2d1c45;
  --color-secondary: #3c245b;
  --color-secondaryHover: #502c7e;
  --color-primary: #8542dc;
  --color-primaryHover: #a46ae8;
}
